<?xml version="1.0"?>
<config>
  <compilers>~/codes/fortpy-dist/fortpy/compilers.xml</compilers>
  <codes>
    <trunk name="uncle" value="~/codes/uncle/src" />
    <trunk name="celib" value="~/codes/symlib/src" />
    <trunk name="enumlib" value="~/codes/enumlib/src" />
  </codes>
  <mappings>
    <map module="utilities_module" file="utilities.f90" />
  </mappings>
  <libraries>
    <include path="~/codes/qhlib/libqhull.a" />
    <include path="~/codes/uncle/src/timing.o" />
  </libraries>
  <ssh>
    <server name="ssh.fsl.byu.edu" username="profcwr" pkey="~/.ssh/id_rsa"></server>
    <codes>
      <trunk name="uncle" value="~/theuncle/uncle/trunk" />
      <trunk name="celib" value="~/theuncle/celib/trunk" />
      <trunk name="enumlib" value="~/theuncle/enumlib/trunk" />
    </codes>
    <mappings>
      <map module="utilities_module" file="utilities.f90" />
    </mappings>
  </ssh>
  <isense>
    <builtin uppercase="false" />
  </isense>
</config>
